[tools]
# node = "ltd-jod"

[env]
_.path = "./_build"
DATABASE_PORT = 543x
MACOSX_DEPLOYMENT_TARGET = "15.4" # Eases installation of Postgres via `mise install postgres 17.x`
PHX_HOST="carescribe-operations.test"
BUN_OPTIONS="--bun"
COMPOSE_BAKE = true
CFLAGS="-O2 -g -fno-stack-check"
KERL_CONFIGURE_OPTIONS="--without-javac --with-ssl=/opt/homebrew/opt/openssl --with-wx-config=/opt/homebrew/opt/wxwidgets/bin/wx-config"
KERL_BUILD_DOCS="yes"
POSTGRES_EXTRA_CONFIGURE_OPTIONS="--with-openssl --with-includes=/opt/homebrew/opt/openssl/include --with-libraries=/opt/homebrew/opt/openssl/lib --with-uuid=e2fs"
