[tools]
# node = "lts-krypton" # Node may be required for Playwright tests

[env]
_.path = "./_build"
DATABASE_PORT = 543x
PHX_HOST="ops.carescribe.test"
COMPOSE_BAKE = true
CFLAGS="-O2 -g -fno-stack-check"
KERL_CONFIGURE_OPTIONS="--without-javac --with-ssl=/opt/homebrew/opt/openssl --with-wx-config=/opt/homebrew/opt/wxwidgets/bin/wx-config"
KERL_BUILD_DOCS="yes"
# MACOSX_DEPLOYMENT_TARGET = "15.4" # Eases installation of Postgres via `mise install postgres 17.x`
PKG_CONFIG_PATH="/opt/homebrew/opt/icu4c/lib/pkgconfig"
POSTGRES_EXTRA_CONFIGURE_OPTIONS="--with-openssl --with-includes=/opt/homebrew/opt/openssl/include --with-libraries=/opt/homebrew/opt/openssl/lib --with-uuid=e2fs"

# see https://github.com/oven-sh/bun/issues/8222#issuecomment-3665364677
PW_DISABLE_TS_ESM=1

GOOGLE_CLIENT_ID=[client-id]
GOOGLE_CLIENT_SECRET=[client-secret]
